<launch>

	<!--Joystick-->
	<arg name="launch_joystick" default="true"/> 
	<arg name="pioneer_port" default="/dev/ttyUSB0"/> 
	<node if="$(arg launch_joystick)" name="joystick_node" pkg="joy" type="joy_node"/>

	<node name="pioneer_p3dx_control" pkg="ed_control" type="pioneer_p3dx_control"/>
	<node name="RosAria_control" pkg="rosaria" type="RosAria">
		<param name="port" value="$(arg pioneer_port)"/>
	</node>

</launch>
